        <!--about-->
        <div id="about">
            <!--about content-->
            <div id="about-content">
                <div class="about-header">
                    About <span class="color">Me</span>
                    <span class ="header-caption">Get to Know <span class="color"> me.</span></span>
                </div>
                <div class="about-main">
            <div class="about-first-paragraph wow">
            <!--about description-->
               <span class="about-first-line">
                    I'm 
                    <span class="color">web developer</span>
                     based in Istanbul , Turkiye </span>
                     <br>
               <span class="about-second-line"> I graduated from Istanbul Kultur University Civil Engineering Department. </span>
               <span class="about-second-line"> I aim to develop my skills and experience in the field of software development, which I started upon my interest, and to become an expert in this field. </span>
               <span class="about-second-line"> As a software developer, my mission is to develop sustainable software in accordance with SOLID principles. </span>
            </div>
            </div>
            <!--about picture-->
@*            <div class="about-img">
                <img src="images/ProfilImage.jpg" alt="Your Image">
            </div>*@
            </div>
            <div id="skills">
                <div class="skills-header">
                     My <span class="color"> Skills</span>
                </div>
                <div class="skills-content " style="text-align: center;">
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        HTML/CSS
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="html-progress wow">90%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                      Javascript
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="js-progress wow">70%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Angular
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="adobe-progress wow">40%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        C Sharp (C#)
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="php-progress wow">80%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        JQuery
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="jquery-progress wow">80%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Ajax
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="seo-progress wow">50%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Microsoft SQL Server
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="seo-progress wow">50%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        MySQL
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="seo-progress wow">50%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Adobe Photoshop
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="seo-progress wow">60%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Microsoft Excel
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="seo-progress wow">60%</div>
                    </div>
                    </div>
                </div>
            </div>
            <div id="skills">
                <div class="skills-header">
                     My <span class="color"> Experiences</span>
                </div>
                <div class="skills-content " style="text-align: center;">
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Object Oriented Programing (OOP)
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="html-progress wow">90%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                      Classic Layered Architecture
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="js-progress wow">70%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Asp.Net Core API
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="adobe-progress wow">70%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        Asp.Net Core MVC
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="adobe-progress wow">80%</div>
                    </div>
                    </div>
                </div>
            </div>
            <div id="skills">
                <div class="skills-header">
                     My <span class="color"> Languages</span>
                </div>
                <div class="skills-content " style="text-align: center;">
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        English Writing
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="html-progress wow">40%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                      English Reading
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="js-progress wow">60%</div>
                    </div>
                    </div>
                    <div class="skill-html skill">
                        <div class="skill-text">
                    <div class="html">
                        English Speaking
                    </div>
                        </div>
                    <div class="html-prog wow prog">
                 <div class="adobe-progress wow">60%</div>
                    </div>
                    </div>
                </div>
            </div>
            </div>
        <!--about end-->