

    <!--mouse  follower-->
        <div class="cursor"></div>
    <!--mouse  follower-->
    <!--link-screen-->
        <div id="breaker">
        </div>
        <div id="breaker-two">
        </div>
    <!--link-screen-->

    <!--Main-Section-->
        <!--Navigator-fullscreen-->
        <div id="navigation-content">
@*            <div class="logo">
                <img src="images/willy wonka logo.png" alt="logo">
            </div>*@
            <div class="navigation-close">
                <span class="close-first"></span>
                <span class="close-second"></span>
            </div>
            <div class="navigation-links">
                <a href="#" data-text="HOME" id="home-link" >HOME</a>
                <a href="#" data-text="ABOUT" id="about-link" >ABOUT</a>
                <a href="#" data-text="PORTFOLIO" id="portfolio-link" >PORTFOLIO</a>
                <a href="#" data-text="CONTACT" id="contact-link" >CONTACT</a>
            </div>
        </div>
        <!--Navigator-Fullscreen END-->
          <!--Home Page-->
        <!--Menubar-->
        <div id="navigation-bar">
@*            <img src="images/willy wonka logo.png" alt="logo">*@
            <div class="menubar">
                <span class="first-span"></span>
                <span class="second-span"></span>
                <span class="third-span"></span>
            </div>
        </div>
        <!--Menubar End-->
          <!--Header-->
        <div id="header">
            <div id="particles"></div>
              <!--Social Media Links-->
            <div class="social-media-links">
               <a href="https://www.instagram.com/semihzcann" target="_blank"><img src="images/instagram logo.png" class="social-media" alt="instagram-logo"></a>
                <a href="https://github.com/semihozcann" target="_blank"><img src="images/githupLogo2.png" class="social-media" alt="facebook-logo"></a>
                <a href="https://tr.linkedin.com/in/semih-%C3%B6zcan-98471725a?trk=people-guest_people_search-card" target="_blank"><img src="images/linkedin logo.png" class="social-media" alt="linkedin-logo"></a>
                <a href="https://twitter.com/semihozcann1" target="_blank"><img src="images/twitter logo.png" class="social-media" alt="twitter-logo"></a>
            </div>
            <!--Social Media Links end-->
            <div class="header-content">
                <div class="header-content-box">
                <div class="firstline"><span class="color">Semih </span>Özcan</div>
                <div class="secondline">
                Welcome My Website
                <br />
            <span class="txt-rotate color" data-period="1200"data-rotate='[ "I am a Junior Software Developer" ]'></span>
            <span class="slash">|</span>
        </div>   
            </div>
            </div>
            <!--header image-->
            <div class="header-image">
            <img src="images/ProfilImage3.png" alt="logo">
            </div>
            <!--header image end-->
        </div>
           <!--Header End-->
        <!--HomePage End-->
        <!--Main-Section End-->