       <!--portfolio-->
        <div id="portfolio">
            <div class="portfolio-header"> <span class="color"> My </span> Portfolio
            <span class ="header-caption"> Some Of My <span class="color"> Works</span></span></div>
             <div id="portfolio-content">
                 <div class="portfolio portfolio-first">
                     <div class="portfolio-image">
                        <img src="images/portfolio-first.jpg" alt="portfolio-first">
                     </div>
                     <div class="portfolio-text">
                         <h2>TouristProject_MVC</h2>
                         <p>The project has been prepared to provide information about Turkish culture for families coming to Istanbul. It contains information about places to visit in Istanbul or local delicacies that can be eaten.</p>
                         <div class="button"><a href="#"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
                     </div>
                 </div>
                 <div class="portfolio portfolio-second">
                    <div class="portfolio-image">
                        <img src="images/portfolio-second.jpg" alt="portfolio-second">
                    </div>
                    <div class="portfolio-text">
                        <h2>EPizzaWebsite_NetCore.5_MVC</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id cumque placeat minima ad laudantium suscipit
                             voluptatem ducimus. Id cumque placeat minima ad laudantium suscipit voluptatem ducimus</p>
                        <div class="button"><a href="#"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
                    </div>
                </div>
             
                <div class="portfolio portfolio-third">
                    <div class="portfolio-image">
                        <img src="images/portfolio-third.jpg" alt="portfolio-third">
                    </div>
                    <div class="portfolio-text">
                        <h2>Basic Infrastructure API</h2>
                        <p>The project was created in order to have a ready infrastructure. The aim of the project is to save time by using this skeleton when starting a new project. Thanks to the ready-made layers and the services prepared in it, the development phase can be started quickly.</p>
                        <div class="button"><a href="#"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
                    </div>
                </div>
                <div class="portfolio portfolio-fourth">
                    <div class=" portfolio-image">
                        <img src="images/portfolio-fourth.jpg" alt="portfolio-fourth">
                    </div>
                    <div class="portfolio-text">
                        <h2>Basic Infrastructure MVC</h2>
                        <p>The project was created in order to have a ready infrastructure. The aim of the project is to save time by using this skeleton when starting a new project. Thanks to the ready-made layers and the services prepared in it, the development phase can be started quickly.</p>
                        <div class="button"><a href="#"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
                    </div>
                </div>
                <div class="portfolio portfolio-first">
                    <div class=" portfolio-image">
                        <img src="images/portfolio-fourth.jpg" alt="portfolio-fourth">
                    </div>
                    <div class="portfolio-text">
                        <h2>EComerce.Net6.API</h2>
                        <p>The project was created in order to have a ready infrastructure. The aim of the project is to save time by using this skeleton when starting a new project. Thanks to the ready-made layers and the services prepared in it, the development phase can be started quickly.</p>
                        <div class="button"><a href="#"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
                    </div>
                </div>
                 </div>
                    <!--copyright-section You Can Remove After Downloading-->
       <!--copyright-section-->
             </div>
        <!--portfolio end-->